/* http://www.stanford.edu/group/webdev/color/ */
/* ---- Text ---- */
/* line 2, ../sass/partials/_typography.scss */
body {
  font-size: 16px;
}

/* line 6, ../sass/partials/_typography.scss */
a {
  transition-duration: .25s;
}

/* line 10, ../sass/partials/_typography.scss */
.more-link {
  float: right;
}

/* line 14, ../sass/partials/_typography.scss */
.byline a {
  color: #3f3c30;
  font-style: italic;
}

/* line 18, ../sass/partials/_typography.scss */
.highlight .content {
  background-color: #8c1515;
}

/* line 22, ../sass/partials/_typography.scss */
.btn-primary {
  background-color: #8c1515;
  background: -webkit-linear-gradient(#b81c1c, #8c1515);
  background: -moz-linear-gradient(#b81c1c, #8c1515);
  background: -o-linear-gradient(#b81c1c, #8c1515);
  background: linear-gradient(#b81c1c, #8c1515);
  text-transform: uppercase;
  color: #f2f1eb;
}
/* line 27, ../sass/partials/_typography.scss */
.btn-primary:hover {
  background: -webkit-linear-gradient(#8c1515, #b81c1c);
  background: -moz-linear-gradient(#8c1515, #b81c1c);
  background: -o-linear-gradient(#8c1515, #b81c1c);
  background: linear-gradient(#8c1515, #b81c1c);
}

/* line 32, ../sass/partials/_typography.scss */
.caption {
  background-color: #f2f1eb;
  text-align: center;
  padding: 5px;
}

/* ---- Headers ---- */
/* ---- Lists ---- */
/* line 42, ../sass/partials/_typography.scss */
.inline li {
  display: inline-block;
}

/* line 47, ../sass/partials/_typography.scss */
.stacked a {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}
/* line 51, ../sass/partials/_typography.scss */
.stacked a:after {
  display: block;
  float: right;
  content: '>';
}
/* line 57, ../sass/partials/_typography.scss */
.stacked li {
  display: inline;
}

/* line 62, ../sass/partials/_typography.scss */
.sidebar .block {
  border: 1px solid #f2f1eb;
}

/* line 67, ../sass/partials/_typography.scss */
.sidebar .menu li a {
  background-color: transparent;
  padding: 10px;
  border-top: 1px solid #f2f1eb;
  white-space: wrap;
}
/* line 72, ../sass/partials/_typography.scss */
.sidebar .menu li a:after {
  display: block;
  float: right;
  margin-right: 1em;
  content: '>';
}
/* line 77, ../sass/partials/_typography.scss */
.sidebar .menu li a.active:after {
  content: '*';
}
/* line 80, ../sass/partials/_typography.scss */
.sidebar .menu li a.active {
  color: #3f3c30;
}

/* line 4, ../sass/partials/_layout.scss */
#header #logo {
  border-right: none;
}
/* line 6, ../sass/partials/_layout.scss */
#header #logo img {
  max-width: 100%;
}
/* line 10, ../sass/partials/_layout.scss */
#header #name-and-slogan {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: none;
  font-size: 0;
  text-align: start;
}

/* line 16, ../sass/partials/_layout.scss */
.global {
  position: absolute;
  bottom: 1em;
  right: 0;
}

/* line 23, ../sass/partials/_layout.scss */
.navbar {
  position: relative;
}
/* line 25, ../sass/partials/_layout.scss */
.navbar .nav-search {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* line 35, ../sass/partials/_layout.scss */
.grid .views-row,
.grid .field-item {
  clear: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 1em 0\9;
  /*  IE8 and below */
}
/* line 39, ../sass/partials/_layout.scss */
.grid .views-row:nth-of-type(4n + 1),
.grid .field-item:nth-of-type(4n + 1) {
  margin-left: 0;
}
/* line 45, ../sass/partials/_layout.scss */
.grid .pager {
  clear: both;
}

/* line 51, ../sass/partials/_layout.scss */
.navbar {
  border-bottom: 1px solid #f2f1eb;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  /* line 57, ../sass/partials/_layout.scss */
  .global {
    position: relative;
    margin-top: 2em;
  }

  /* line 62, ../sass/partials/_layout.scss */
  #header {
    margin-bottom: 0;
  }

  /* line 66, ../sass/partials/_layout.scss */
  #main-menu {
    margin-bottom: 0;
  }

  /* line 70, ../sass/partials/_layout.scss */
  #block-search-form {
    float: none;
  }

  /* line 78, ../sass/partials/_layout.scss */
  .navbar {
    border-bottom: none;
  }
}
/*
div[class*='postcard'] {
  padding: 5px 0;
  border-top: 1px solid $beige;
}
*/
/*
.content .figure {
  .field {
    margin-bottom: 0;
  }
  .descriptor {
    text-align: right;
  }
}
*/
/* line 101, ../sass/partials/_layout.scss */
.sidebar {
  margin-top: 4em;
}

/* line 4, ../sass/partials/_objects.scss */
.box .hd, .box-highlight .hd, .box-sidebar .hd,
.sidebar .block .hd, .box .bd, .box-highlight .bd, .box-sidebar .bd,
.sidebar .block .bd, .box .ft, .box-highlight .ft, .box-sidebar .ft,
.sidebar .block .ft {
  padding: 5px;
}

/* line 9, ../sass/partials/_objects.scss */
.box-highlight {
  background: #f2f1eb;
  /* For browsers that don't support gradients */
  background: -webkit-linear-gradient(top, #f2f1eb, #fbfbf9);
  background: -moz-linear-gradient(top, #f2f1eb, #fbfbf9);
  background: -o-linear-gradient(top, #f2f1eb, #fbfbf9);
  background: linear-gradient(to bottom, #f2f1eb, #fbfbf9);
  border: 1px solid #f2f1eb;
}
/* line 13, ../sass/partials/_objects.scss */
.box-highlight .hd {
  padding: 0;
}
/* line 22, ../sass/partials/_objects.scss */
.box-highlight blockquote {
  display: none;
}

/* line 30, ../sass/partials/_objects.scss */
.box-sidebar .dropdown-menu,
.sidebar .block .dropdown-menu {
  background-color: transparent;
}
/* line 33, ../sass/partials/_objects.scss */
.box-sidebar .menu a,
.sidebar .block .menu a {
  padding: 5px;
}

/* line 39, ../sass/partials/_objects.scss */
.gallery .field-item {
  margin: 0 1em 1em 0;
  background-color: #f2f1eb;
}
/* line 42, ../sass/partials/_objects.scss */
.gallery .field-item blockquote {
  margin: 0;
  padding: 5px;
  text-align: center;
}

/* line 52, ../sass/partials/_objects.scss */
.article .figure {
  max-width: 480px;
}

/* line 2, ../sass/partials/_stanford_carousel.scss */
.carousel {
  margin-bottom: 0;
}
/* line 4, ../sass/partials/_stanford_carousel.scss */
.carousel .carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 45%;
}

/* line 22, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 30, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
/* line 35, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
/* line 42, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/* line 47, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 1, ../sass/partials/_forms.scss */
.field-label-inline {
  padding: .25em 0;
  border-bottom: 1px solid #f2f1eb;
}
/* line 4, ../sass/partials/_forms.scss */
.field-label-inline .field-label {
  width: 12em;
  white-space: nowrap;
}

/* line 10, ../sass/partials/_forms.scss */
.field-label-above {
  margin-top: 1em;
}
