/* http://www.stanford.edu/group/webdev/color/ */
/* ---- Text ---- */
/* line 2, ../sass/partials/_typography.scss */
body {
  font-size: 16px;
}

/* line 9, ../sass/partials/_typography.scss */
.content .h1 {
  font-size: 36px;
}
/* line 10, ../sass/partials/_typography.scss */
.content .h2 {
  font-size: 18px;
}
/* line 11, ../sass/partials/_typography.scss */
.content .h3 {
  font-size: 16px;
}
/* line 12, ../sass/partials/_typography.scss */
.content .h4 {
  font-size: 14px;
}
/* line 13, ../sass/partials/_typography.scss */
.content .h5 {
  font-size: 12px;
}
/* line 14, ../sass/partials/_typography.scss */
.content .h6 {
  font-size: 10px;
}

/* line 17, ../sass/partials/_typography.scss */
.footer {
  font-size: 12px;
}

/* line 21, ../sass/partials/_typography.scss */
a {
  transition-duration: .25s;
}

/* line 26, ../sass/partials/_typography.scss */
.content-body a {
  border-bottom: 1px dotted #3F3C30;
}
/* line 28, ../sass/partials/_typography.scss */
.content-body a:hover, .content-body a:active {
  border-bottom: 1px solid #3F3C30;
}
/* line 34, ../sass/partials/_typography.scss */
.content-body h1 a, .content-body h2 a, .content-body h3 a, .content-body h4 a, .content-body h5 a, .content-body h6 a {
  border-bottom: none;
}
/* line 36, ../sass/partials/_typography.scss */
.content-body h1 a:hover, .content-body h1 a:active, .content-body h2 a:hover, .content-body h2 a:active, .content-body h3 a:hover, .content-body h3 a:active, .content-body h4 a:hover, .content-body h4 a:active, .content-body h5 a:hover, .content-body h5 a:active, .content-body h6 a:hover, .content-body h6 a:active {
  border-bottom: none;
}

/* line 44, ../sass/partials/_typography.scss */
.pullquote-large {
  margin: 1em 5%;
  text-transform: uppercase;
}

/* line 49, ../sass/partials/_typography.scss */
.caption {
  margin-bottom: 1em;
}

/* line 53, ../sass/partials/_typography.scss */
.more-link {
  float: right;
}

/* line 57, ../sass/partials/_typography.scss */
.byline a {
  color: #585754;
  font-style: italic;
}

/* line 61, ../sass/partials/_typography.scss */
.highlight .content {
  background-color: #8c1515;
}

/* line 65, ../sass/partials/_typography.scss */
.text-info {
  color: #585754;
  font-style: italic;
}

/* line 70, ../sass/partials/_typography.scss */
.btn {
  text-transform: uppercase;
}

/* line 74, ../sass/partials/_typography.scss */
.btn-primary, .btn-giving,
.btn-giving:hover {
  background-color: #8c1515;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I4MWMxYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhjMTUxNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b81c1c), color-stop(100%, #8c1515));
  background: -moz-linear-gradient(#b81c1c, #8c1515);
  background: -webkit-linear-gradient(#b81c1c, #8c1515);
  background: linear-gradient(#b81c1c, #8c1515);
  text-transform: uppercase;
}
/* line 78, ../sass/partials/_typography.scss */
.btn-primary:hover, .btn-giving:hover {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjMTUxNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I4MWMxYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c1515), color-stop(100%, #b81c1c));
  background: -moz-linear-gradient(#8c1515, #b81c1c);
  background: -webkit-linear-gradient(#8c1515, #b81c1c);
  background: linear-gradient(#8c1515, #b81c1c);
}
/* line 81, ../sass/partials/_typography.scss */
.btn-primary a, .btn-giving a,
.btn-giving:hover a {
  color: #fbfbf9;
}

/* line 86, ../sass/partials/_typography.scss */
.btn-giving,
.btn-giving:hover {
  color: #f2f1eb;
  font: normal 11px/1.1em "NewsGothicBT-Bold",Arial,sans-serif;
  letter-spacing: 1px;
  padding: 8px 20px;
}
/* line 95, ../sass/partials/_typography.scss */
.btn-giving:after,
.btn-giving:hover:after {
  content: '  >';
}
/* line 98, ../sass/partials/_typography.scss */
.btn-giving:hover,
.btn-giving:hover:hover {
  color: #fbfbf9;
}

/* line 103, ../sass/partials/_typography.scss */
.summary {
  font-size: 20px;
}

/* line 107, ../sass/partials/_typography.scss */
.nowrap {
  white-space: nowrap;
}

/* line 112, ../sass/partials/_typography.scss */
.promo .ds-text {
  font-size: 120%;
  line-height: 1.5em;
}
/* line 116, ../sass/partials/_typography.scss */
.promo h3 {
  font-size: 130%;
}
/* line 119, ../sass/partials/_typography.scss */
.promo img, .promo .views-row {
  margin-bottom: 0 !important;
}

/* ---- VCard Markup ---- */
/* line 126, ../sass/partials/_typography.scss */
.n,
.tel {
  white-space: nowrap;
}

/* ---- Headers ---- */
/* ---- Lists ---- */
/* line 135, ../sass/partials/_typography.scss */
.byline {
  border: 1px solid #f2f1eb;
  border-width: 1px 0;
  padding: .25em 0;
  margin: 1em 0;
}
/* line 140, ../sass/partials/_typography.scss */
.byline .se-label,
.byline .author,
.byline .date {
  margin-right: .25em;
  font-weight: bold;
}
/* line 146, ../sass/partials/_typography.scss */
.byline .se-label {
  text-transform: none;
  background-color: none;
}
/* line 150, ../sass/partials/_typography.scss */
.byline .author {
  margin-right: 2em;
}
/* line 153, ../sass/partials/_typography.scss */
.byline .date {
  font-weight: normal;
}

/* line 158, ../sass/partials/_typography.scss */
.inline a {
  display: inline-block;
}

/* line 163, ../sass/partials/_typography.scss */
.stacked a {
  display: block;
  margin-bottom: 1em;
  text-align: left;
}
/* line 173, ../sass/partials/_typography.scss */
.stacked li {
  display: inline;
}

/* line 178, ../sass/partials/_typography.scss */
.stacked-center a {
  text-align: center;
  font-size: 115%;
  border-bottom: 1px solid #f2f1eb;
  padding: 10px 0 !important;
}

/* line 187, ../sass/partials/_typography.scss */
.sidebar .menu li a {
  background-color: transparent;
  border-bottom: 1px solid #f2f1eb;
  white-space: wrap;
}

/* line 205, ../sass/partials/_typography.scss */
.horizontal-tabs ul.horizontal-tabs-list li {
  list-style: none;
}

/* line 212, ../sass/partials/_typography.scss */
legend {
  color: #8c1515;
}

/* line 219, ../sass/partials/_typography.scss */
th {
  vertical-align: top;
}

/* line 1, ../sass/partials/_layout.scss */
#global-header a {
  font-size: 13px;
}

/* line 7, ../sass/partials/_layout.scss */
#header #logo img {
  max-width: inherit;
}

/* line 12, ../sass/partials/_layout.scss */
#header.is-mainsite,
#header.is-subsite {
  margin: 0;
}
/* line 15, ../sass/partials/_layout.scss */
#header.is-mainsite .container,
#header.is-subsite .container {
  min-height: 155px;
}
@media (min-width: 1196px) {
  /* line 15, ../sass/partials/_layout.scss */
  #header.is-mainsite .container,
  #header.is-subsite .container {
    background: transparent url("../images/globe-700.png") no-repeat right -222px;
  }
}
@media (max-width: 1195px) {
  /* line 15, ../sass/partials/_layout.scss */
  #header.is-mainsite .container,
  #header.is-subsite .container {
    background: transparent url("../images/globe-500.png") no-repeat 440px -130px;
  }
}
@media (max-width: 978px) {
  /* line 15, ../sass/partials/_layout.scss */
  #header.is-mainsite .container,
  #header.is-subsite .container {
    background: transparent url("../images/globe-300.png") no-repeat 420px -55px;
  }
}
@media (max-width: 321px) {
  /* line 15, ../sass/partials/_layout.scss */
  #header.is-mainsite .container,
  #header.is-subsite .container {
    background: transparent url("../images/globe-300.png") no-repeat 420px -55px;
    min-height: 55px;
  }
}
/* line 31, ../sass/partials/_layout.scss */
#header.is-mainsite #logo,
#header.is-subsite #logo {
  border-right-width: 0;
  padding: 0;
  max-width: 440px;
}
@media (min-width: 330px) {
  /* line 31, ../sass/partials/_layout.scss */
  #header.is-mainsite #logo,
  #header.is-subsite #logo {
    padding-top: 45px;
  }
}
/* line 38, ../sass/partials/_layout.scss */
#header.is-mainsite #logo img,
#header.is-subsite #logo img {
  max-width: 100%;
}
/* line 42, ../sass/partials/_layout.scss */
#header.is-mainsite #name-and-slogan,
#header.is-subsite #name-and-slogan {
  position: absolute;
  left: -9999px;
}

/* line 52, ../sass/partials/_layout.scss */
#header.is-subsite .container {
  min-height: 130px;
}
@media (min-width: 1196px) {
  /* line 52, ../sass/partials/_layout.scss */
  #header.is-subsite .container {
    background: transparent url("../images/globe-500.png") no-repeat right -150px;
  }
}
@media (max-width: 1195px) {
  /* line 52, ../sass/partials/_layout.scss */
  #header.is-subsite .container {
    background: transparent url("../images/globe-300.png") no-repeat right 0;
  }
}
@media (max-width: 978px) {
  /* line 52, ../sass/partials/_layout.scss */
  #header.is-subsite .container {
    background: transparent url("../images/globe-300.png") no-repeat 420px -55px;
    background: none;
  }
}
/* line 65, ../sass/partials/_layout.scss */
#header.is-subsite #logo {
  padding: 20px 0;
  max-width: 650px;
}
/* line 68, ../sass/partials/_layout.scss */
#header.is-subsite #logo img {
  max-width: 100%;
}
/* line 72, ../sass/partials/_layout.scss */
#header.is-subsite #name-and-slogan {
  position: relative;
  left: 0;
  padding: 20px 0 20px 10px;
}
/* line 77, ../sass/partials/_layout.scss */
#header.is-subsite #site-name {
  margin: 0;
  font-size: 25px;
  max-width: 340px;
}
@media (max-width: 978px) {
  /* line 77, ../sass/partials/_layout.scss */
  #header.is-subsite #site-name {
    max-width: 100%;
  }
}

/* line 87, ../sass/partials/_layout.scss */
#block-system-main-menu {
  margin-right: 200px;
}

/* line 91, ../sass/partials/_layout.scss */
#main,
.mc-content {
  margin-bottom: 0;
}

/* line 96, ../sass/partials/_layout.scss */
.main .block {
  margin-bottom: 15px;
}

/* line 102, ../sass/partials/_layout.scss */
.grid .views-row, .grid-2 .views-row, .grid-3 .views-row, .grid-4 .views-row,
.grid .field-item,
.grid-2 .field-item,
.grid-3 .field-item,
.grid-4 .field-item,
.grid .column,
.grid-2 .column,
.grid-3 .column,
.grid-4 .column {
  clear: none !important;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
/* line 111, ../sass/partials/_layout.scss */
.grid .pager, .grid-2 .pager, .grid-3 .pager, .grid-4 .pager {
  clear: both;
}
/* line 115, ../sass/partials/_layout.scss */
.grid .node-teaser, .grid-2 .node-teaser, .grid-3 .node-teaser, .grid-4 .node-teaser {
  margin-bottom: 0;
}
/* line 119, ../sass/partials/_layout.scss */
.grid .postcard-left > div:first-child img, .grid-2 .postcard-left > div:first-child img, .grid-3 .postcard-left > div:first-child img, .grid-4 .postcard-left > div:first-child img {
  margin: 0;
}
/* line 123, ../sass/partials/_layout.scss */
.grid div[class*="span"], .grid-2 div[class*="span"], .grid-3 div[class*="span"], .grid-4 div[class*="span"] {
  margin-bottom: 1em;
}

/* line 137, ../sass/partials/_layout.scss */
.grid-2 .views-row:nth-of-type(2n + 1),
.grid-2 .field-item:nth-of-type(2n + 1),
.grid-2 div:nth-of-type(2n + 1) {
  margin-left: 0;
}
/* line 141, ../sass/partials/_layout.scss */
.grid-2 .views-row-3, .grid-2 .views-row-5, .grid-2 .views-row-7, .grid-2 .views-row-9, .grid-2 .views-row-11, .grid-2 .views-row-13, .grid-2 .views-row-15, .grid-2 .views-row-17, .grid-2 .views-row-19, .grid-2 .views-row-21 {
  margin-left: 0;
}

/* line 160, ../sass/partials/_layout.scss */
.grid-3 .views-row:nth-of-type(3n + 1),
.grid-3 .field-item:nth-of-type(3n + 1),
.grid-3 div:nth-of-type(3n + 1) {
  margin-left: 0;
}
/* line 164, ../sass/partials/_layout.scss */
.grid-3 .views-row-4, .grid-3 .views-row-7, .grid-3 .views-row-10, .grid-3 .views-row-13, .grid-3 .views-row-16, .grid-3 .views-row-19, .grid-3 .views-row-22, .grid-3 .views-row-25, .grid-3 .views-row-28, .grid-3 .views-row-31 {
  margin-left: 0;
}

/* line 183, ../sass/partials/_layout.scss */
.grid-4 .views-row:nth-of-type(4n + 1),
.grid-4 .field-item:nth-of-type(4n + 1),
.grid-4 div:nth-of-type(4n + 1) {
  margin-left: 0;
}
/* line 187, ../sass/partials/_layout.scss */
.grid-4 .views-row-5, .grid-4 .views-row-9, .grid-4 .views-row-13, .grid-4 .views-row-17, .grid-4 .views-row-21, .grid-4 .views-row-25, .grid-4 .views-row-31, .grid-4 .views-row-35, .grid-4 .views-row-39, .grid-4 .views-row-43 {
  margin-left: 0;
}

/* line 203, ../sass/partials/_layout.scss */
.sectioned-items .view-content > h3 {
  float: left;
  width: 25%;
}
/* line 207, ../sass/partials/_layout.scss */
.sectioned-items .article {
  clear: none;
  margin: 0 0 1em 25%;
}

/* line 213, ../sass/partials/_layout.scss */
#main-menu {
  background-color: #f2f1eb;
  box-shadow: 1px 1px 5px #f2f1eb;
}

/* line 219, ../sass/partials/_layout.scss */
.sidebar .nav {
  margin-bottom: 0;
}
/* line 223, ../sass/partials/_layout.scss */
.sidebar .menu li:last-child a {
  border-bottom: 0;
}

/* line 229, ../sass/partials/_layout.scss */
.navbar {
  margin: 0;
  padding: 5px 0;
}

@media (min-width: 767px) {
  /* line 234, ../sass/partials/_layout.scss */
  #block-search-form {
    position: relative;
    top: 65px;
    right: 15px;
    z-index: 100;
  }
}

@media screen and (max-width: 767px) {
  /* line 244, ../sass/partials/_layout.scss */
  #main-menu {
    margin-bottom: 0;
  }

  /* line 248, ../sass/partials/_layout.scss */
  #block-search-form {
    float: none;
  }

  /* line 252, ../sass/partials/_layout.scss */
  .navbar {
    border-bottom: none;
  }
}
/* line 259, ../sass/partials/_layout.scss */
.front .region-content,
.subsite-front .region-content {
  margin-bottom: 0;
}

@media (max-width: 640px) {
  /* line 265, ../sass/partials/_layout.scss */
  #block-search-form {
    position: static;
  }

  /* line 269, ../sass/partials/_layout.scss */
  #block-search-form form {
    position: relative;
  }

  /* Views Table */
  /* line 274, ../sass/partials/_layout.scss */
  table.views-table, table.sticky-header {
    display: block;
    position: relative;
    width: 100%;
  }

  /* line 276, ../sass/partials/_layout.scss */
  table.views-table thead, table.sticky-header thead {
    display: block;
    position: absolute;
    left: 0px;
    width: 25%;
    border-radius: 5px;
  }

  /* line 278, ../sass/partials/_layout.scss */
  table.views-table thead tr, table.sticky-header thead tr {
    display: block;
  }

  /* line 279, ../sass/partials/_layout.scss */
  table.views-table thead th, table.sticky-header thead th {
    display: block;
    padding: 5px;
    font-size: 0.9em;
    text-transform: none;
  }

  /* line 281, ../sass/partials/_layout.scss */
  table.views-table tbody {
    display: block;
    width: auto;
    position: relative;
    margin: 0 0 0 28%;
  }

  /* line 283, ../sass/partials/_layout.scss */
  table.views-table tbody tr {
    display: block;
    vertical-align: top;
    margin: 0 0 1em 0;
    border: 1px solid #bab19e !important;
    border-radius: 5px;
  }

  /* line 285, ../sass/partials/_layout.scss */
  table.views-table tbody tr.odd {
    background: #f2f1eb;
  }

  /* line 286, ../sass/partials/_layout.scss */
  table.views-table tbody tr.even {
    background: #f2f1eb;
  }

  /* line 287, ../sass/partials/_layout.scss */
  table.views-table tbody td {
    display: block;
    padding: 5px;
  }

  /* line 288, ../sass/partials/_layout.scss */
  table.views-table tbody td p {
    margin: 0px;
  }
}
@media (min-width: 768px) {
  /* line 293, ../sass/partials/_layout.scss */
  .degree-programs .box-highlight {
    min-height: 170px;
  }
}
@media (min-width: 1200px) {
  /* line 293, ../sass/partials/_layout.scss */
  .degree-programs .box-highlight {
    min-height: 120px;
  }
}

/* line 306, ../sass/partials/_layout.scss */
.fullwidth .file-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 311, ../sass/partials/_layout.scss */
.fullwidth .file-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 3, ../sass/partials/_objects.scss */
.box .hd, .box-impact .hd, .box-highlight .hd, .box-sidebar .hd,
.region-sidebar-second .block .hd, .box .bd, .box-impact .bd, .box-highlight .bd, .box-sidebar .bd,
.region-sidebar-second .block .bd, .box .ft, .box-impact .ft, .box-highlight .ft, .box-sidebar .ft,
.region-sidebar-second .block .ft {
  padding: 1em;
}
/* line 6, ../sass/partials/_objects.scss */
.box .ds-text, .box-impact .ds-text, .box-highlight .ds-text, .box-sidebar .ds-text,
.region-sidebar-second .block .ds-text {
  padding: .5em;
}

/* line 14, ../sass/partials/_objects.scss */
.box-impact h2 {
  border-bottom: 3px solid #8c1515;
  padding-bottom: 5px;
}

/* line 20, ../sass/partials/_objects.scss */
.box-highlight {
  background: #f2f1eb;
  /* For browsers that don't support gradients */
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjFlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f1eb), color-stop(100%, #fbfbf9));
  background: -moz-linear-gradient(top, #f2f1eb, #fbfbf9);
  background: -webkit-linear-gradient(top, #f2f1eb, #fbfbf9);
  background: linear-gradient(to bottom, #f2f1eb, #fbfbf9);
  border: 1px solid #f2f1eb !important;
}
/* line 24, ../sass/partials/_objects.scss */
.box-highlight .hd {
  padding: 0;
}
/* line 33, ../sass/partials/_objects.scss */
.box-highlight blockquote {
  display: none;
}

/* line 38, ../sass/partials/_objects.scss */
.box-summary {
  padding: 2% 5%;
}

/* line 42, ../sass/partials/_objects.scss */
.box-sidebar,
.region-sidebar-second .block {
  border: 1px solid #f2f1eb;
  padding: 1em;
}
/* line 47, ../sass/partials/_objects.scss */
.box-sidebar .dropdown-menu,
.region-sidebar-second .block .dropdown-menu {
  background-color: transparent;
}

/* line 54, ../sass/partials/_objects.scss */
.figure {
  margin-bottom: 2em;
}
/* line 57, ../sass/partials/_objects.scss */
.figure .caption .field, .figure .figure .field {
  margin-bottom: 0;
}
/* line 61, ../sass/partials/_objects.scss */
.figure .credit {
  text-align: right;
  font-style: italic;
}
/* line 65, ../sass/partials/_objects.scss */
.figure .caption {
  font-style: italic;
}

/* line 72, ../sass/partials/_objects.scss */
.gallery .field-item {
  margin: 0 1em 1em 0;
  background-color: #f2f1eb;
  display: inline-block;
}
/* line 76, ../sass/partials/_objects.scss */
.gallery .field-item blockquote {
  margin: 0;
  padding: 5px;
  text-align: center;
}

/* line 86, ../sass/partials/_objects.scss */
.node-gallery .field-type-image .field-item {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 95, ../sass/partials/_objects.scss */
.promo .postcard-left,
.promo p {
  margin-bottom: 0;
}
/* line 99, ../sass/partials/_objects.scss */
.promo .ds-text {
  padding: 1em;
}

/* line 104, ../sass/partials/_objects.scss */
.postcard-left,
.postcard-left-wrap,
.postcard-right,
.postcard-right-wrap {
  margin-bottom: 0;
}

/* line 113, ../sass/partials/_objects.scss */
.article .figure {
  max-width: 480px;
}

/* line 119, ../sass/partials/_objects.scss */
.social li {
  margin: 0 !important;
  padding: 0;
}
/* line 125, ../sass/partials/_objects.scss */
.social .content a {
  display: block;
  float: left;
  background: transparent url(../images/socialicons.png) no-repeat 0 0;
  width: 46px;
  height: 46px;
  margin: 5px;
  padding: 0 !important;
  opacity: .75;
  text-indent: -9999px;
}
/* line 136, ../sass/partials/_objects.scss */
.social .content a:hover {
  opacity: 1;
}
/* line 139, ../sass/partials/_objects.scss */
.social .content a:first-child {
  margin-left: 0;
}
/* line 144, ../sass/partials/_objects.scss */
.social a[href*="youtube.com"] {
  background-position: -1px 0;
}
/* line 148, ../sass/partials/_objects.scss */
.social a[href*="vimeo.com"] {
  background-position: -46px 0;
}
/* line 152, ../sass/partials/_objects.scss */
.social a[href*="twitter.com"] {
  background-position: -92px 0;
}
/* line 156, ../sass/partials/_objects.scss */
.social a[href*="tumblr.com"] {
  background-position: 0 -46px;
}
/* line 160, ../sass/partials/_objects.scss */
.social a[href*="pinterest.com"] {
  background-position: -46px -46px;
}
/* line 164, ../sass/partials/_objects.scss */
.social a[href*="linkedin.com"] {
  background-position: -92px -46px;
}
/* line 168, ../sass/partials/_objects.scss */
.social a[href*="google.com"] {
  background-position: 0 -92px;
}
/* line 172, ../sass/partials/_objects.scss */
.social a[href*="flickr.com"] {
  background-position: -46px -92px;
}
/* line 176, ../sass/partials/_objects.scss */
.social a[href*="facebook.com"] {
  background-position: -92px -92px;
}
/* line 180, ../sass/partials/_objects.scss */
.social a[href*="feeds"],
.social a[href*=".rss"] {
  background-position: 0 -137px;
}

/* line 186, ../sass/partials/_objects.scss */
.table td {
  border-width: 0 0 1px 0;
}

/* line 193, ../sass/partials/_objects.scss */
.byline .field {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-left: 1px solid #585754;
  padding: 0 .5em;
}
/* line 198, ../sass/partials/_objects.scss */
.byline .field:first-child {
  border-left: none;
  padding-left: 0;
}

/* line 204, ../sass/partials/_objects.scss */
.well {
  padding: .5em;
}

/* line 209, ../sass/partials/_objects.scss */
.view-mode-search_result {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1em;
}

/* line 1, ../sass/partials/_stanford_carousel.scss */
.view.carousel {
  margin-bottom: 0;
}
/* line 4, ../sass/partials/_stanford_carousel.scss */
.view.carousel .carousel-dots {
  position: absolute;
  bottom: 20px;
  left: 45%;
}
/* line 11, ../sass/partials/_stanford_carousel.scss */
.view.carousel .carousel-block .carousel-caption.carousel-position-left,
.view.carousel .carousel-block .carousel-caption.carousel-position-right {
  padding: 1em;
}

/* line 22, ../sass/partials/_stanford_carousel.scss */
.no-controls .carousel-controls,
.no-controls .carousel-dots {
  display: none;
}
/* line 26, ../sass/partials/_stanford_carousel.scss */
.no-controls .views-row {
  margin-bottom: 0;
}

/* line 42, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
/* line 50, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
/* line 54, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
/* line 61, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
/* line 67, ../sass/partials/_stanford_carousel.scss */
.carousel-fade .carousel-control {
  z-index: 2;
}

/* line 76, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel img {
  margin-bottom: 0;
}
/* line 79, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel .carousel-caption {
  width: 50%;
  max-width: 50%;
  padding: .5em;
}
/* line 87, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel .carousel-caption .slide-title {
  margin-bottom: 0;
}
/* line 90, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel .carousel-caption.carousel-position-bottom {
  bottom: 6px;
}
/* line 93, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel .carousel-caption.carousel-position-top {
  top: 6px;
}
/* line 96, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel .carousel-caption.carousel-position-left {
  left: 6px;
}
/* line 99, ../sass/partials/_stanford_carousel.scss */
.caption-nobackground .view.carousel .carousel-caption.carousel-position-right {
  right: 6px;
}

/* line 1, ../sass/partials/_forms.scss */
.field-label-inline {
  padding: .25em 0;
  border-bottom: 1px solid #f2f1eb;
}
/* line 4, ../sass/partials/_forms.scss */
.field-label-inline .field-label {
  width: 12em;
  white-space: nowrap;
}

/* line 10, ../sass/partials/_forms.scss */
.field-label-above {
  margin-top: 1em;
}

/* line 14, ../sass/partials/_forms.scss */
.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 1em;
}

/* line 3, ../sass/partials/_soundmanager2.scss */
.ui360 {
  border: 1px solid #f2f1eb;
  box-shadow: 0 0 0.25em #3F3C30;
  margin-bottom: 1em;
}

/* line 1, ../sass/partials/_horizontal_tabs.scss */
.horizontal-tabs ul.horizontal-tabs-list {
  background-color: #f2f1eb;
  border-bottom: 1px solid #585754;
}
/* line 4, ../sass/partials/_horizontal_tabs.scss */
.horizontal-tabs ul.horizontal-tabs-list li {
  background-color: transparent;
  border-right: none;
}
/* line 7, ../sass/partials/_horizontal_tabs.scss */
.horizontal-tabs ul.horizontal-tabs-list li a {
  border-bottom: none;
}
/* line 9, ../sass/partials/_horizontal_tabs.scss */
.horizontal-tabs ul.horizontal-tabs-list li a:hover, .horizontal-tabs ul.horizontal-tabs-list li a:focus, .horizontal-tabs ul.horizontal-tabs-list li a:active {
  border-bottom: none;
  background-color: #fbfbf9;
}

/* line 1, ../sass/partials/_fontawesome.scss */
.icon-label {
  font-size: 0;
  height: 1px;
  overflow: hidden;
  display: block;
}

/* line 8, ../sass/partials/_fontawesome.scss */
.fa {
  display: inline-block;
  border-radius: 100%;
  border: 0;
  color: #fbfbf9;
  margin: 1px;
  opacity: .75;
  padding: 1em;
}
/* line 16, ../sass/partials/_fontawesome.scss */
.fa:hover {
  opacity: 1;
  color: #fbfbf9;
}

/* line 22, ../sass/partials/_fontawesome.scss */
.icon-facebook {
  background-color: #45619d;
  padding: 1em 1.35em;
}

/* line 27, ../sass/partials/_fontawesome.scss */
.icon-twitter {
  background-color: #55acee;
}

/* line 31, ../sass/partials/_fontawesome.scss */
.icon-youtube {
  background-color: #cc181e;
}

/* line 35, ../sass/partials/_fontawesome.scss */
.icon-rss {
  background-color: #ffb878;
}

/*# sourceMappingURL=site.css.map */
