.field-label-inline {
  padding: .25em 0;
  border-bottom: 1px solid $beige;
  .field-label {
    width: 12em;
    white-space: nowrap;
  }
}

.field-label-above {
  margin-top: 1em;
}

.webform-container-inline .field-item label {

}

.horizontal-tabs fieldset.horizontal-tabs-pane {
  padding: 1em;
}
