.horizontal-tabs ul.horizontal-tabs-list {
  background-color: $beige;
  li {
    background-color: transparent;
    border-right: none;
    a {
      border-bottom: none;
      &:hover,
      &:active {
        border-bottom: none;
      }
    }
  }
}
