.horizontal-tabs ul.horizontal-tabs-list {
  background-color: $beige;
  border-bottom: 1px solid $grey;
  li {
    background-color: transparent;
    border-right: none;
    a {
      border-bottom: none;
      &:hover,
      &:focus,
      &:active {
        border-bottom: none;
        background-color: $white;
      }
    }
  }
}

.horizontal-tabs ul.horizontal-tabs-list li.selected {
  border: 1px solid $grey;
  border-width: 1px 1px 0 1px;
  position: relative;
  bottom: -1px;
}
