.left {
  float: left;
  margin: 0 1em 0 0;
}

.right {
  float: right;
  margin: 0 0 0 1em;
}

.grid {
  .views-row {
    border: 1px solid $beige;
    clear: none;
    margin: 0 1em 1em 0;
    min-height: 280px;
    padding: 5px;
    &:hover {
      background-color: $beige;
    }
  }
  .pager {
    clear: both;
  }
}

// To hide the View/Edit tabs on the front page
.front .tabs {
  display: none;
}

.region-main-top {
  background: transparent url('../../earth-keen/iceflow.jpg') no-repeat right top;
  min-height: 350px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 2em;
}

.navbar {
  border-bottom: 1px solid $beige;
  padding-bottom: 10px;
}

@media screen and (max-width:767px) {
  .region-sidebar-first {
    display: none;
  }

  .navbar {
    border-bottom: none;
  }
}
