#main-menu {
  margin-bottom: 0;
}

//Override logo treatment
#header {
  #logo {
    border-right: none;
    img {
      max-width: 100%;
    }
  }  
  #name-and-slogan {
    @include off-screen;
  }
}

.xleft {
  float: left;
  margin: 0 1em 0 0;
}

.xright {
  float: right;
  margin: 0 0 0 1em;
}

.grid {
  .ds-media {
  }
  .ds-text {
    padding: 10px;
  }
  .field-item {
    display: block;
    float: left;
  }
  .views-row {
    border: 1px solid $beige;
    clear: none;
    background: $beige; /* For browsers that don't support gradients */
    @include background(linear-gradient(top, $beige, $white));
    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
    margin: 0 1em 1em 0\9; /*  IE8 and below */
  }
  .node-teaser {
    margin-bottom: 0;
  }
  .pager {
    clear: both;
  }
}

.navbar {
  border-bottom: 1px solid $beige;
  padding-bottom: 10px;
}

@media screen and (max-width:767px) {
  .region-sidebar-first {
    /*display: none;*/
  }

  .navbar {
    border-bottom: none;
  }
}

div[class*='postcard'] {
  padding: 5px 0;
  border-top: 1px solid $beige;
}

.content .figure {
  .field {
    margin-bottom: 0;
  }
  .descriptor {
    text-align: right;
  }
}

.article {
  .figure {
    max-width: 480px;
  }
}

.main .block {
  margin-bottom: 0;
}
