#main-menu {
  margin-bottom: 0;
}

//Override logo treatment
#header {

  #logo {
    border-right: none;
    img {
      max-width: 100%;
    }
  }  
  #name-and-slogan {
    @include off-screen;
  }
}

// Target Audience links
.global {
  position: absolute;
  bottom: 1em;
  right: 0;
}

// Search Form
.navbar {
  position: relative;
  .nav-search {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

.grid {
  .ds-media {
    blockquote {
      display: none;
    }
  }
  .ds-text {
    padding: 10px;
  }

  .field-item {
    display: inline-block;
    vertical-align: top;
  }

  &.gallery {
    .field-item {
      margin: 0 1em 1em 0;
      background-color: $beige;
      blockquote {
        margin: 0;
        padding: 5px;
        text-align: center;
      }
    }
  }

  .views-row {
    border: 1px solid $beige;
    clear: none;
    background: $beige; /* For browsers that don't support gradients */
    @include background(linear-gradient(top, $beige, $white));
    &:nth-of-type(4n + 1) {
      margin-left: 0;
    }
    margin: 0 1em 1em 0\9; /*  IE8 and below */
  }
  .node-teaser {
    margin-bottom: 0;
  }
  .pager {
    clear: both;
  }
} // End grid rules

.navbar {
  border-bottom: 1px solid $beige;
  padding-bottom: 10px;
}

@media screen and (max-width:767px) {
  .global {
    position: relative;
    margin-top: 2em;
  }
  
  #header {
    margin-bottom: 0;
  }

  #main-menu {
    margin-bottom: 0;
  }

  #block-search-form {
    float: none;
  }

  .region-sidebar-first {
    //display: none;
  }

  .navbar {
    border-bottom: none;
  }
}

div[class*='postcard'] {
  padding: 5px 0;
  border-top: 1px solid $beige;
}

.content .figure {
  .field {
    margin-bottom: 0;
  }
  .descriptor {
    text-align: right;
  }
}

.article {
  .figure {
    max-width: 480px;
  }
}

.block-menu-block .menu {
  padding: 5px;
  a {
    padding: 5px;
    border-bottom: 1px solid $beige;
    .active {
      border: 1px solid $cardinal;
    }
  }

}

.sidebar {
  margin-top: 4em;
  .block {
    background-color: $white;
    border: 5px solid $beige;
    padding: 10px; 

    a.active:after {
      display: block;
      float: right;
      content: '<';
    }

    a:hover:after {
      display: block;
      float: right;
      content: '<';
    }

  }
}
