// http://css-tricks.com/redesigning-with-sass/
@mixin off-screen {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: none;
  font-size: 0;
  text-align: start;
}

@mixin on-screen {
  text-indent: 0;
  overflow: auto;
  display: block;
}
