// Boxes
.box {
  .hd, .bd, .ft {
    padding: 1em;
  } 
  .ds-text {
    padding: .5em;
  }
}

.box-impact {
  @extend .box;
  
  h2 {
    border-bottom: 3px solid $cardinal;
    padding-bottom: 5px;
  }
}

.box-highlight {

  @extend .box;

  .hd {
    padding: 0;
  }

  background: $beige; /* For browsers that don't support gradients */
  @include background(linear-gradient(top, $beige, $white));
  border: 1px solid $beige !important;

  // Hack to hide captions from gallery thumnails
  blockquote {
    display: none;
  }
}

.box-summary {
  padding: 2% 5%;
}

.box-sidebar,
.region-sidebar-second .block {
  @extend .box;
  border: 1px solid $beige;
  padding: 1em;
  .dropdown-menu {
    background-color: transparent;
  }
}

// Figure box

.figure {
  background-color: $beige;
  border: 1px solid $lightgrey;
  margin-bottom: 1em;
  .caption, .figure {
    .field {
      margin-bottom: 0;
    }
  }
  .credit {
    text-align: right;
    font-style: italic;
  }
  .caption {
    font-style: italic;
    padding: .5em;
  }
}

.media-left {
  @extend .figure;
  float: left;
  margin: 0 1em 0 0;
  max-width: 40% !important;
}

.media-right {
  @extend .figure;
  float: right;
  margin: 0 0 0 1em;
  max-width: 40% !important;
}

.gallery {
    .field-item {
      margin: 0 1em 1em 0;
      background-color: $beige;
      display: inline-block;
      blockquote {
        margin: 0;
        padding: 5px;
        text-align: center;
      }
    }
  }

.node-gallery {
  .field-type-image {
    .field-item {
      float: left;
      margin: 0 1em 1em 0;	
    }
  }
}

.promo {
  @extend .promo;  
  .postcard-left,
  p {
    margin-bottom: 0;
  }
  .ds-text {
    padding: 1em;
  }
}

.postcard-left,
.postcard-left-wrap,
.postcard-right,
.postcard-right-wrap {
  margin-bottom: 0;
}

// Article image
.article {
  .figure {
    max-width: 480px;
  }
}

.social {
  li {
      //TODO: Need to override #footer from Stanford Framework
      margin: 0 !important;
      padding: 0;
  }  
  
  .content a {
    display: block;
    float: left;
    background: transparent url(../images/socialicons.png) no-repeat 0 0;
    width: 46px;
    height: 46px;
    margin: 5px;
    // TODO: Figure out a better way to "out-specify" the ID selector from Stanford Framewok
    padding: 0 !important;
    opacity: .75;
    text-indent: -9999px;
    &:hover {
      opacity: 1;
    }
    &:first-child {
      margin-left: 0;
    }
  }
  
  a[href*="youtube.com"] {
    background-position: -1px 0;
  }
  
  a[href*="vimeo.com"] {
    background-position: -46px 0;
  }
  
  a[href*="twitter.com"] {
    background-position: -92px 0;
  }
  
  a[href*="tumblr.com"] {
    background-position: 0 -46px;
  }
  
  a[href*="pinterest.com"] {
    background-position: -46px -46px;
  }
  
  a[href*="linkedin.com"] {
    background-position: -92px -46px;
  }
  
  a[href*="google.com"] {
    background-position: 0 -92px;
  }
  
  a[href*="flickr.com"] {
    background-position: -46px -92px;
  }
  
  a[href*="facebook.com"] {
    background-position: -92px -92px;
  }
  
  a[href*="feeds"],
  a[href*=".rss"] {
    background-position: 0 -137px;
  }
} // End Social

.table td {
  border-width: 0 0 1px 0;
}


// Byline
.byline {
  .field {
    @include inline-block();    
    border-left: 1px solid $grey;
    padding: 0 .5em;
  }
  .field:first-child {
    border-left: none;
    padding-left: 0;
  }
}

.well {
  padding: .5em;
}


.view-mode-search_result {
  border-bottom: 1px solid $lightgrey;
  margin-bottom: 1em;
}
