// Boxes

.box {
  .hd, .bd, .ft {
    padding: 1em;
  } 
}

.box-impact {
  @extend .box;
  
  h2 {
    border-bottom: 3px solid $cardinal;
    padding-bottom: 5px;
  }
}

.box-highlight {

  @extend .box;

  .hd {
    padding: 0;
  }

  background: $beige; /* For browsers that don't support gradients */
  @include background(linear-gradient(top, $beige, $white));
  border: 1px solid $beige;

  // Hack to hide captions from gallery thumnails
  blockquote {
    display: none;
  }
}

.box-sidebar,
.sidebar .block {
  @extend .box;
  border: 1px solid $beige;
  padding: 1em;
  .dropdown-menu {
    background-color: transparent;
  }
  .menu a {
    padding: 5px;
  }
}

.gallery {
    .field-item {
      margin: 0 1em 1em 0;
      background-color: $beige;
      blockquote {
        margin: 0;
        padding: 5px;
        text-align: center;
      }
    }
  }

// Article image
.article {
  .figure {
    max-width: 480px;
  }
}

.social .icon {
    padding: 0;
}

.social .icon a {
    display: inline-block;
    background: transparent url('../images/socialicons.png') no-repeat 0 0;
    xborder: 1px solid orange;
    width: 48px;
    height: 48px;
    opacity: .75;
}

.social .icon a:hover {
    opacity: 1;
}

.social span {
    display: block;
    text-indent: -9999px;
}

.social a[rel~="youtube"] {
    background-position: 0 0;
}

.social a[rel~="vimeo"] {
    background-position: -48px 0;
}

.social a[rel~="twitter"] {
    background-position: -94px 0;
}

.social a[rel~="tumblr"] {
    background-position: 0 -48px;
}

.social a[rel~="pinterest"] {
    background-position: -48px -48px;
}

.social a[rel~="linkedin"] {
    background-position: -94px -48px;
}

.social a[rel~="google"] {
    background-position: 0 -96px;
}

.social a[rel~="flickr"] {
    background-position: -48px -96px;
}

.social a[rel~="facebook"] {
    background-position: -94px -96px;
}
