// Boxes

.box {
  .hd, .bd, .ft {
    padding: 1em;
  } 
  .ds-text {
    padding: 1em;
  }
}

.box-impact {
  @extend .box;
  
  h2 {
    border-bottom: 3px solid $cardinal;
    padding-bottom: 5px;
  }
}

.box-highlight {

  @extend .box;

  .hd {
    padding: 0;
  }

  background: $beige; /* For browsers that don't support gradients */
  @include background(linear-gradient(top, $beige, $white));
  border: 1px solid $beige !important;

  // Hack to hide captions from gallery thumnails
  blockquote {
    display: none;
  }
}

.box-summary {
  padding: 2% 5%;
}

.box-sidebar,
.sidebar .block {
  @extend .box;
  border: 1px solid $beige;
  padding: 1em;
  .dropdown-menu {
    background-color: transparent;
  }
  .menu a {
    padding: 5px;
  }
}

.gallery {
    .field-item {
      margin: 0 1em 1em 0;
      background-color: $beige;
      display: inline-block;
      blockquote {
        margin: 0;
        padding: 5px;
        text-align: center;
      }
    }
  }

.promo {
  @extend .promo;  
  .postcard-left,
  p {
    margin-bottom: 0;
  }
  .ds-text {
    padding: 1em;
  }
}

// Article image
.article {
  .figure {
    max-width: 480px;
  }
}

.social {
  li {
      //TODO: Need to override #footer from Stanford Framework
      margin: 0 !important;
      padding: 0;
  }  
  
  .content a {
    display: block;
    float: left;
    background: transparent url(../images/socialicons.png) no-repeat 0 0;
    width: 46px;
    height: 46px;
    margin: 5px;
    // TODO: Figure out a better way to "out-specify" the ID selector from Stanford Framewok
    padding: 0 !important;
    opacity: .75;
    text-indent: -9999px;
    &:hover {
      opacity: 1;
    }
  }
  
  a[href*="youtube.com"] {
    background-position: 0 0;
  }
  
  a[href*="vimeo.com"] {
    background-position: -46px 0;
  }
  
  a[href*="twitter.com"] {
    background-position: -91px 0;
  }
  
  a[href*="tumblr.com"] {
    background-position: 0 -46px;
  }
  
  a[href*="pinterest.com"] {
    background-position: -46px -46px;
  }
  
  a[href*="linkedin.com"] {
    background-position: -91px -46px;
  }
  
  a[href*="google.com"] {
    background-position: 0 -91px;
  }
  
  a[href*="flickr.com"] {
    background-position: -46px -91px;
  }
  
  a[href*="facebook.com"] {
    background-position: -91px -91px;
  }
} // End Social

.table td {
  border-width: 0 0 1px 0;
}
