
.se3-carousel {
  // Image
  .field-slideshow-image {
    position: relative;
    display: block;
    margin: 0 auto; 
  }

  // Caption
  .field-slideshow-caption-text {
    display: block;
    margin: 1em 0;
  }

  // Controls
  .field-slideshow-controls {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: 1em auto;
    a,
    a:focus {
     display: block; 
     text-align: center;
     border: none;
     &.prev,
     &.next {
       position: absolute;
       bottom: 0;
       background-color: $cardinal;
       border-radius: 5px;
       border: 2px solid $white;
       color: $white;
       z-index: 50;
       padding: .5em;
      }
      &.prev {
        left: 2em;
        &:before {
         content: "< "; 
        }
      }
      &.next {
        right: 2em; 
        &:after {
         content: " >"; 
        }
      }
    }
  }

  // Numbered Pager
  &.numbered-pager .field-slideshow-pager {
    text-align: center;
    width: 40%;
    margin: 1em auto;
    a {
      display: inline-block;
      width: 1em;
      margin: 0 .5em .5em 0;
      border: 1px solid $cardinal;
      border-radius: 15px;
      text-indent: -9999px;
      &.activeSlide {
       background-color: $cardinal; 
      }
    }
  }
  
  // Image Pager
  // IDEA: Set default image to grey filter and color on :focus
  &.image-pager .field-slideshow-pager {
   li {
    list-style-type: none !important;
    list-style-image: none !important;
    img {
      opacity: .5;
    }
   } 
   li.activeSlide img {
     opacity: 1;
   }
  }
}
