.view.carousel {
  margin-bottom: 0;
  // Move the navigation dots
  .carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 45%;
  }
  // Reduce default padding for caption block captions
  .carousel-block {
    .carousel-caption.carousel-position-left,
    .carousel-caption.carousel-position-right {
      padding: 1em;
    }
  }
}


// Hide controls

.no-controls {
  .carousel-controls,
  .carousel-dots {
    display: none; 
  }
  .views-row {
    margin-bottom: 0;
  }
}


// Code to change animatation to fade

// http://stackoverflow.com/a/10031225/903277
//.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
//.carousel .active.left {left:0;opacity:0;z-index:2;}
//.carousel .next {left:0;opacity:1;z-index:1;}

// http://codepen.io/Rowno/pen/Afykb
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

// Styling options

.caption-nobackground {
  .view.carousel {
    img {
      margin-bottom: 0;
    }
    .carousel-caption {
      //TODO: Replace this with a mixin
      //background: rgba(0,0,0,0.5);
      //@include background-image(linear-gradient(rgba(red,0.0),white));
      //text-shadow: 0 1px #666;
      width: 50%;
      max-width: 50%;
      padding: .5em;
      .slide-title {
        margin-bottom: 0;
      }
      &.carousel-position-bottom {
        bottom: 6px;
      }  
      &.carousel-position-top {
        top: 6px;
      }  
      &.carousel-position-left {
        left: 6px;
      }  
      &.carousel-position-right {
        right: 6px;
      }  
    }
  }
}
