.carousel {
  margin-bottom: 0;
  .carousel-dots {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


// Code to change animatation to fade

// http://stackoverflow.com/a/10031225/903277
//.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
//.carousel .active.left {left:0;opacity:0;z-index:2;}
//.carousel .next {left:0;opacity:1;z-index:1;}

// http://codepen.io/Rowno/pen/Afykb
.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
