/* ---- Text ---- */
a {
  color: $blue;
}

#site-title-first-line.site-title-uppercase {
  font-weight: normal;

}

.byline a {
  color: $grey;
  font-style: italic;
}

.grid .views-row {
  clear: none;
  min-height: 350px;
}
