/* ---- Text ---- */
body {
  font-size: 16px;
}

// Header sizes

.content {
  .h1 {font-size: 36px;}
  .h2 {font-size: 18px;}
  .h3 {font-size: 16px;}
  .h4 {font-size: 14px;}
  .h5 {font-size: 12px;}
  .h6 {font-size: 10px;}
}

.footer {
  font-size: 12px;
}

a {
  transition-duration: .25s;
}

.more-link {
  float: right;
}

.byline a {
  color: $grey; font-style: italic;
}

.highlight .content {
  background-color: $cardinal;
}

.btn {
  text-transform: uppercase;
}

.btn-primary {
  background-color: $cardinal;
  @include background(linear-gradient(lighten($cardinal, 10%), $cardinal));
  text-transform: uppercase;
  &:hover {
    @include background(linear-gradient($cardinal, lighten($cardinal, 10%)));
  }
  a {
    color: $white;
  }
}

.btn-giving,
.btn-giving:hover {
  @extend .btn-primary;

  color: $beige;
  font: normal 11px/1.1em "NewsGothicBT-Bold",Arial,sans-serif;
  letter-spacing: 1px;  
  padding: 8px 20px;
  
  &:after {
    content: '  >';
    }
  &:hover {
    color: $white;
  }
}

.caption {
  background-color: $beige;
  text-align: center;
  padding: 5px;
}

.summary {
  text-align: justify;
  font-size: 18px;
}

.promo {
  .ds-text {
    font-size: 120%;
    line-height: 1.5em;
  }
  h3 {
    font-size: 130%;
  }
  img, .views-row {
    margin-bottom: 0 !important;
  }
}

/* ---- VCard Markup ---- */

.n,
.tel {
  white-space: nowrap;
}

/* ---- Headers ---- */

/* ---- Lists ---- */

.inline a {
  display: inline-block;
}

.stacked {
  a {
    display: block;
    margin-bottom: 1em;
    text-align: left;
    //&:after {
    //  display: block;
    //  float: right;
    //  content: '>';
    //}
  }
  li {
    display: inline;
  }
}

.stacked-center a {
  text-align: center;
  font-size: 115%;
  border-bottom: 1px solid $beige;
  // TODO: Need to figure out a way to override super-specifc selector from stanford framework without resorting to the nuclear option.
  padding: 10px 0 !important;
}

.sidebar .menu li {
  a {
    background-color: transparent;
    border-bottom: 1px solid $beige;
    white-space: wrap;
    //&:after {
    //  display: block;
    //  color: $grey;
    //  float: right;
    //  margin-right: 1em;
    //  content: '>';
    //}
    //&.active:after {
    //  content: ' ';
    //}
  }


}
