/* ---- Text ---- */
a {
  color: $blue;
}

#site-title-first-line.site-title-uppercase {
  font-weight: normal;

}

.byline a {
  color: $grey;
  font-style: italic;
}

.highlight {
  background-color: $beige;
}
