/* ---- Text ---- */
a {
  transition-duration: .25s;
}

.more-link {
  float: right;
}

.byline a {
  color: $grey; font-style: italic;
}

.highlight .content {
  background-color: $cardinal;
}

.btn-primary {
  background-color: $cardinal;
  @include background(linear-gradient(lighten($cardinal, 10%), $cardinal));
  text-transform: uppercase;
  color: $white;
  &:hover {
    @include background(linear-gradient($cardinal, lighten($cardinal, 10%)));
  }
}

.caption {
  background-color: $beige;
  text-align: center;
  padding: 5px;
}

.summary {
  text-align: justify;
}

/* ---- VCard Markup ---- */

.n,
.tel {
  white-space: nowrap;
}

/* ---- Headers ---- */

/* ---- Lists ---- */

.inline li {
  display: inline-block;
}

.stacked {
  a {
    display: block;
    margin-bottom: 1em;
    text-align: left;
    //&:after {
    //  display: block;
    //  float: right;
    //  content: '>';
    //}
  }
  li {
    display: inline;
  }
}

.stacked-center a {
  text-align: center;
  font-size: 115%;
  border-bottom: 1px solid $beige;
  // TODO: Need to figure out a way to override super-specifc selector from stanford framework without resorting to the nuclear option.
  padding: 10px 0 !important;
}

.sidebar .menu li {
  a {
    background-color: transparent;
    border-bottom: 1px solid $beige;
    white-space: wrap;
    //&:after {
    //  display: block;
    //  color: $grey;
    //  float: right;
    //  margin-right: 1em;
    //  content: '>';
    //}
    //&.active:after {
    //  content: ' ';
    //}
  }


}


